<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<h1><%= t('views.common.title_index', name: Comment.model_name.human) %></h1>
<div class="show-comment">
  <%= render 'comments/comment', commentable: @report %>
</div>
<h1><%= t('views.common.title_new', name: Comment.model_name.human) %></h1>
<%= render 'comments/form', commentable: @report, comment: @comment %>

<div class="page-nav">
  <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <%= link_to t('views.common.back', name: Report.model_name.human.downcase), reports_path %>

  <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
</div>
